
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  /* float: left; */
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 14px 16px;
}


.garden_edge {
  display: flex;
  justify-content: center;
}

span {
  color: rgb(15, 114, 15);
}

p {
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px;
}

section p {
  font-size: 16px;
}



.high_box {
  margin: 10px;
}

h3 {
  font-size: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 10px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.gallery-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

button {
  color: #fff;
  border: none;
  background-color: green;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: goldenrod;
}

.testimonial-section {
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
}

.testimonial {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.quote {
  font-style: italic;
  font-size: 18px;
  color: #333;
}

.author {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.footer {
  background-color: #eee;
  width: 100%;
  color: #555;
  text-align: center;
  padding: 20px 0;
}

/* Responsive */
/* Mobile and Tablet */

@media (width < 768px) {
  body {
    /* background-color: lightcoral; */
  }
  
}

/* --------------------------------------------------- */
/* Laptop and screen */
@media (width >= 768px) {
  body {
    /* background-color: lightblue */
  }
  nav a {
    /* float: left; */
    float: left;
    font-size: 22px;
     
  }
  .testimonial {
      max-width: 800px;
      }
      
      p {
        font-size: 20px;
      }
      h3 {
        font-size: 24px;
      }
      .quote {
        font-size: 24px;
       }
}

     }

/* -----2560 px 4k */

@media (width >= 2560px) {
  body {
    /* background-color: rgb(178, 230, 173) */
  }
  nav a {
    /* float: left; */
    float: left;
    font-size: 44px;
     
  }
  .testimonial {
      max-width: 2000px;
      }
      
      p {
        font-size: 40px;
      }
      h3 {
        font-size: 48px;
      }
      .quote {
               font-size: 36px;
              }
     }
     