/* Root */
:root {
  --color-primary: #2584ff;
  --color-secondary:#00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #fff;
}

* {
  color: #fff;
  
}


body {
  background-attachment: fixed;
  background-image: url(./images/cover.webp);
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
 }
 

  /* Title garden-edge */
.title_text {
  align-items: center;
  display: flex;
  justify-content: center;
   
  }
  /* top navigation bar */
 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  
   }

/* li{

list-style-type: none;
display: inline;
padding: 10px;
  
} */
   
 a {
  text-decoration: none;
   
}

.projects_text {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
  }

  h2 {
    font-size: 50px;
    }

    
    .box {
      background-color: rgba(176, 174, 174, 0.329);
      border-radius: 20px;
      border: 1px solid white;
      padding: 50px;
    }
 
   
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }

    nav a {
      text-decoration: none;
      color: white;
      padding: 15px 20px;
      display: block;
    }

    nav a:hover {
      background-color: #acacac4e;
      border-radius: 10px;
    }
   
          
    /* Responsive sizes */
    
    @media (max-width: 768px) {
      nav ul {
        flex-direction: column;
        text-align: center;
      }
          
      nav a {
        color: white;
        display: inline-block;
        padding: 15px 20px;
        text-decoration: none;
        width: 10%;
      }
    }

  @media (min-width: 768px){
    h1 {
      font-size: 64px;
    }
    h2   {
      font-size: 100px;
    }

 }
  
 @media (min-width: 768px) {
  ul a {
    font-size: 32px;
  }
 }
 
 .main {
  margin: 10px;
  font-size: 20px;
 }
 p {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(33, 133, 194, 0.624);
  border-radius: 10px;
  padding: 10px;
   }
   section p {
    font-size: 16px;
   }
   .icon {
    margin: 2px;
    background: #ffffff94;
          }
      @media (min-width:1024px) {
    .main {
      font-size: 30px;
    }
    section p {
      font-size: 24px;
     }
     p {
      border: 1px solid rgb(255, 255, 255);
      background-color: rgba(33, 133, 194, 0.624);
      width: 60%;
      border-radius: 10px;
      padding: 10px;
       }

   }
   