<main class="main">
  <h3>Features</h3>
<!-- icon-1 -->
  <section>
   
    <h4><img class="icon" src="./images/yard_FILL0_wght400_GRAD0_opsz24.svg" alt="">Landscape</h4>
           <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In nesciunt
      veritatis illum iure pariatur tenetur ipsum, laboriosam animi facere
      deleniti quibusdam, commodi deserunt ad officia!
    </p>
          </section>
          <!-- icon-2 -->
          <section>
   
            <h4><img class="icon" src="./images/garden_cart_FILL0_wght400_GRAD0_opsz24.svg" alt="">Garden Green</h4>
                   <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In nesciunt
              veritatis illum iure pariatur tenetur ipsum, laboriosam animi facere
              deleniti quibusdam, commodi deserunt ad officia!
            </p>
                  </section>
                  <!-- icon-3 -->
                  <section>
   
                    <h4><img class="icon" src="./images/outdoor_garden_FILL0_wght400_GRAD0_opsz24.svg" alt="">Fence Design</h4>
                           <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. In nesciunt
                      veritatis illum iure pariatur tenetur ipsum, laboriosam animi facere
                      deleniti quibusdam, commodi deserunt ad officia!
                    </p>
                          </section>
                          <!-- icon-4 -->
                          <section>
   
                            <h4><img class="icon" src="./images/psychiatry_FILL0_wght400_GRAD0_opsz24.svg" alt="">Nursery Plants</h4>
                                   <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. In nesciunt
                              veritatis illum iure pariatur tenetur ipsum, laboriosam animi facere
                              deleniti quibusdam, commodi deserunt ad officia!
                            </p>
                                  </section>

  
  </section>
 
</main>