<div class="high_box"><h3 class="hlt">Highlights</h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores nemo
    vero laudantium enim earum nam nesciunt culpa voluptatibus, quidem
    pariatur illo, porro reprehenderit, nobis ut nisi aliquam. Architecto
    recusandae quos accusantium labore itaque maiores veritatis, temporibus
    magni repellat consectetur esse, eveniet praesentium nam saepe
    reprehenderit fugit earum officiis cum 
    llo, porro reprehenderit, 
  </p></div>
  <div class="high_box"><h3 class="hlt">Achievements</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores nemo
      vero laudantium enim earum nam nesciunt culpa voluptatibus, quidem
      pariatur illo, porro reprehenderit, nobis ut nisi aliquam. Architecto
      recusandae quos accusantium labore itaque maiores veritatis, temporibus
      magni repellat consectetur esse, eveniet praesentium nam saepe
      reprehenderit fugit earum officiis cum 
      llo, porro reprehenderit, 
    </p></div>